@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Upload";
}

<section class="upload-section">
    <div class="upload-container">
        <h2>Een nieuw menu uploaden</h2>
        <p>Upload een PDF-bestand met het restaurantmenu in meerdere talen.</p>

        <form asp-controller="File" asp-action="UploadPdf" method="post" enctype="multipart/form-data" class="upload-form">
            @Html.AntiForgeryToken()

            <label for="file-fr" class="custom-file-upload">
                Kies een PDF-bestand (Frans)
                <input type="file" name="fileFr" id="file-fr" accept="application/pdf" required hidden>
            </label>

            <label for="file-en" class="custom-file-upload">
                Kies een PDF-bestand (Engels)
                <input type="file" name="fileEn" id="file-en" accept="application/pdf" required hidden>
            </label>

            <label for="file-nl" class="custom-file-upload">
                Kies een PDF-bestand (Nederlands)
                <input type="file" name="fileNl" id="file-nl" accept="application/pdf" required hidden>
            </label>

            <button type="submit" class="upload-btn">PDF’s uploaden</button>
        </form>
    </div>
</section>
<link rel="stylesheet" href="~/css/StyleUploadPdf.css" asp-append-version="true">
<script src="/js/ScriptUpload.js"></script>

