@page
@model Table_Reservation.Views.Client.CancelModel
@{
}

@{
    ViewData["Title"] = "Paiement annulé";
}

<div class="container text-center mt-5">
    <h1>Paiement annulé</h1>
    <p>Votre paiement a été annulé. Vous pouvez réessayer de réserver votre table.</p>
    <a href="/" class="btn btn-primary">Retourner à l'accueil</a>
</div>
